<%= stylesheet_link_tag 'style' %>
<%= javascript_include_tag :defaults %>

<script>
  function setDescription(request){
      $('word_explanation').setValue(request.responseText);
  }

  function updateImportantce(request){
      response = request.responseText
      if(response == 'true'){
            $('importance').innerHTML = 'IMPORTANT';
            $('word_is_important').setValue('t');
      }else{
            $('importance').innerHTML = '';
            $('word_is_important').setValue('f');
      }
  }
</script>


<%= error_messages_for 'word', message: nil, header_message: nil %>
<fieldset>
  <% form_for :word do |form| %>
      <div class="formBlock">
        Word
        <%= form.text_field :word, size: 40 %>
        <span id="importance">
            
        </span>
      </div>

      <div class="formBlock">
        [<%= link_to_remote "Explanation",{
            url: {controller: 'words', action: 'retrieve_word_description'},
            success: 'setDescription(request)',
            failure: "alert(\"Can't find the description of this word\");",
            with: "'str=' + encodeURIComponent($('word_word').value)"} %>]<br>

        <%= form.text_area :explanation, size: 30 %>
      </div>

      <%= hidden_field_tag 'deck_id', @deck_id %>
      <%= form.hidden_field 'is_important' %>

      <div class="formBlock"><%= submit_tag 'Submit', class: "submit" %></div>
  <% end %>
</fieldset>

<%= observe_field(:word_word, url: {action: 'check_word_importance'}, frequency: 1,
    success: 'updateImportantce(request)',
    with: "'str=' + encodeURIComponent($('word_word').value)") %>